
<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col class="auth-title-container">
        <h1>ESQUECI A SENHA</h1>
      </ion-col>
    </ion-row>

    <ion-row class="auth-form-container">
      <ion-col>
        <form [formGroup]="forgotForm" (ngSubmit)="onForgotSubmit()">
          <ion-input formControlName="email" type="email" label="Email" labelPlacement="stacked" errorText="email inválido" email></ion-input>

          <app-dynamic-btn [buttonType]="'submit'" [buttonDisable]="forgotForm.invalid" [buttonStyle]="'outline-black'" [buttonText]="'ENVIAR'" [fullWidth]="true"></app-dynamic-btn>

          <div class="auth-link-container">
            <ion-text class="auth-link-label">Voltar para o login?<a class="auth-link" (click)="moveRouteForward()">Login</a></ion-text>
          </div>
        </form>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
