

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col class="background-video-container">
        <video autoplay [muted]="true" playsinline>
          <source src="assets/videos/auto-care-splash-video.mp4" type="video/mp4">
        </video>
      </ion-col>
    </ion-row>

    <ion-row class="splash-screen-btn-container">
      <ion-col>
        <p>AUTO CARE</p>
        <div class="splash-screen-btn-box">
          <button>ENTRAR</button>
          <button>CADASTRAR</button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
