

.car-list-container {
  width: 100%;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  background: linear-gradient(150deg, #bebebe 5%, rgb(0, 0, 0) 60%);
  box-shadow: 3px 3px 5px -1px var(--ion-color-secondary);

  & .car-list-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
  }

  & .car-list-model-box {
    text-align: center;

    & p {
      font-size: 1rem;
      letter-spacing: 2px;
      font-weight: 500;
      line-height: 24px;
      color: var(--ion-color-secondary);
      margin-top: 1rem;
    }
  }

  & .car-list-btn-box {
    text-align: center;
    margin: 1.5rem 0 1rem 0;
  }

}
