<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col class="car-card-container">
        <ion-img class="car-card-img zoom-in" [src]="'assets/images/default-car-img.png'" alt="user-car"/>
      </ion-col>
    </ion-row>

    <ion-row class="zoom-in">
      <ion-col class="ion-text-center">
        <p class="car-title reflection">MUSTANG GT</p>
      </ion-col>
    </ion-row>

    <ion-row class="slide-top">
      <ion-col class="car-divider"></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
