
<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col class="auth-title-container">
        <h1>LOGIN</h1>
      </ion-col>
    </ion-row>

    <ion-row class="auth-form-container">
      <ion-col>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit($event)">
          <ion-input formControlName="email" type="email" label="Email" labelPlacement="stacked" errorText="email inválido" email></ion-input>

          <ion-input formControlName="password" type="password" label="Senha" labelPlacement="stacked" errorText="senha inválida">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>

          <app-dynamic-btn *ngIf="!showAuthSpinner" [buttonType]="'submit'" [buttonDisable]="loginForm.invalid" [buttonStyle]="'outline-black'" [buttonText]="'ENTRAR'" [fullWidth]="true"></app-dynamic-btn>
          <ion-spinner *ngIf="showAuthSpinner" class="auth-login-spinner"></ion-spinner>

          <div class="auth-link-container">
            <ion-text class="auth-link-label">Não possui uma conta?<a class="auth-link" (click)="moveRouteForward('sign-up')">Cadastre-se</a></ion-text>
          </div>
        </form>
      </ion-col>

      <ion-col class="forgot-password-container" size="12">
        <a class="auth-link" (click)="moveRouteForward('forgot-password')">Esqueci a senha</a>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
